<h1>Shifts#index</h1>
<p>Find me in app/views/shifts/index.html.erb</p>

<% @shifts.each do | shift | %>
<%= shift.shift_type_id %>
<% end %>

<div class="btn-dark">
  <%= link_to "new month", create_this_month_shift_shifts_path %>
</div>
